/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2014, 4:52:47 PM
    Author     : alexanderryner
*/
body {
	margin: 0;
	font-family: Helvetica; 
	font-size : small;
}

#header {
	height: 100px;
	background: honeydew;
	border-bottom-style: solid;
	border-bottom-color: mediumturquoise;
}

.title {
	font-size: x-large;
	margin: 80px;
	margin-right: 10px;
	height: 30px;
	width: 50px;
	font-family: Helvetica;
	clear: both;
	text-decoration: none;
}

.welcome {
	font-family: Helvetica;
	font-size: small;
	color: #888;
}

.spacer {
	height: 60px;
	width: 100%;
}
.spacer2 {
	height: 110px;
}

#content {
	margin: 10px 25px; 
	height : 100%;
}

.logOut {
	float: right;
	margin: -25px 30px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #ccc;
	padding: 3px 10px;
	font-family: sans-serif;
	font-size: small;
}

.rankBtn {
	border-radius: 5px;
	border: 1px solid darkslategray;

	padding: 6px;
	margin-left: 20px;
	margin-bottom: 0;
	text-align: center;
	background-color:  whitesmoke;
	text-decoration: none;
	color: darkslategray;
	font-weight: bold;

	cursor: pointer; 
}

.btn {
	font-family: Helvetica;
	border-radius: 5px;
	border: 1px solid darkslategray;

	padding: 6px;
	margin-left: 20px;
	margin-bottom: 0;
	text-align: center;
	background-color:  whitesmoke;
	text-decoration: none;
	color: darkslategray;

	cursor: pointer; 
}

.menuBtn {
	font-size: 100%;
	margin-bottom: 0em;
	margin-top: -1em;
}

.bigBtn {
	font-size: 100%; 
}

.smBtn {
	border-radius: 5px;
	border: 1px solid darkslategray;

	padding: 2px;
	margin-left: 13px;
	margin-bottom: 0;
	text-align: center;
	background-color:  whitesmoke;
	text-decoration: none;
	color: darkslategray;

	cursor: pointer; 
}

.num {
	margin-top: 20px;
	margin-left: 70px;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.row {
	width: 100%;
	margin: auto;
}

.column {
	width: 16dp;
	float: left; 
	text-align:center;
}
.thinColumn {
	width: 16dp;
	float: left; 
	text-align:center;
}

.wide-column {
	width: 18%;
	float: left;
	text-align:center;
}

.tri-column {
	width: 33%;
	float: left;
}
.bi-column {
	width: 50%;
	float: left;
}
.full-column {
	width: 100%;
	float: left;
}

.rankList {
	margin: 20px;
	margin-left: 25%;
}

.bi-column input[type=text] {
	vertical-align: middle;
}

.container {
	width:80%;
	clear: both;
	margin: 20px;
	padding: 10px;
}

.wideContainer {
	width:100%;
	clear: both;
	margin: 20px;
	padding: 10px;
}

.gradeForm { 
	position: fixed;
	top: 200px; 
}

.positioner {
	position: absolute;
	left: 0px;
}

.rightSide {
	float: left;
	position: relative;
	margin-left: 30px;
}

.gradePictures {
	float: left;
	width: 1010px;
}

.img {
	margin: 2px;
	margin-bottom: 0px; 
}

.smImg {
	margin: 2px;
	margin-bottom: 0px; 
	height: 300px;
}

.bgImg {
	margin: 2px;
	margin-bottom: 0px; 
	width: 500px;
}

.startHidden {
	display: none;
}

.rightCol{
	
}
.wrongCol{
	display: none;
}

.laterHidden { }
.showHidden {}

.error {
	color: red;
}

input[type="text"].repeat{
	font-weight:bold; 
	background-color:red;
}

.thumb {

}
.thumbContainer {
	height:100px;
	width:110px;
	float: left;
}
.assignContainer {
	float:left;
}

.hoverImg {
	position: fixed;
	width:320px;
	height:320px;
}

.examineImg {
	position: fixed; 
/*720 for laptop demos
and scalar of: 0.29411764705882354*/
/*880 for imac and 0.35947712418300654 for the scalar*/
	height: 880px; 
	cursor: none;
}

.circle {
	position: relative;
	width: 50px;
	height:50px;
	border-radius:50px;
	border-color: white; 
	border:solid;
	border-width: 1px;
	z-index:1;
	display:none;
	cursor: none;
}

.examineImgScale { 
/*720 for laptop demos
and scalar of: 0.29411764705882354*/
/*880 for imac and 0.35947712418300654 for the scalar*/
	height: 880px; 
	cursor: none;
}

.lineScaling {
	cursor: none; 
	position: relative;
	width: 50px;
	height:50px; 
	border-bottom: black; 
	border-bottom:solid; 
	border-bottom-width: 1px; 
	-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */ 
}

.point3 {
	cursor: none; 
	position: relative;
	width: 10px;
	height: 7.5px; 
	border-right: black; 
	border-right:solid; 
	border-right-width: 1px; 

	-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */ 
}

.point4 {
	cursor: none; 
	position: relative;
	width: 05px;
	height: 10px; 
	border-right: black; 
	border-right:solid; 
	border-right-width: 1px; 

	-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */ 
}

.point5 {
	cursor: none; 
	position: relative;
	width: 25px;
	height: 12.5px; 
	border-left: black; 
	border-left:solid; 
	border-left-width: 1px; 
/*
	border-right: black; 
	border-right:solid; 
	border-right-width: 1px; 
*/
	-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */ 
} 

.one {
	cursor: none; 
	position: relative;
	width: 50px;
	height: 25px; 
	border-left: black; 
	border-left:solid; 
	border-left-width: 1px; 

	-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */ 
}
.oneRight {
	cursor: none; 
	position: relative;
	width: 50px;
	height: 25px; 
	border-right: black; 
	border-right:solid; 
	border-right-width: 1px; 

	-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */ 
}

.cOne {
	position: relative;
	width: 50px;
	height:50px;
	border-radius:50px;
	border-color: white; 
	border:solid;
	border-width: 1px; 
	cursor: none; 
	display:none;
	z-index:1;
}
.cPoint5 {
	position: relative;
	width: 25px;
	height:25px;
	border-radius:25px;
	border-color: white; 
	border:solid;
	border-width: 1px; 
	cursor: none; 
	display:none;
	z-index:1;
}
.cPoint4 {
	position: relative;
	width: 20px;
	height:20px;
	border-radius:20px;
	border-color: white; 
	border:solid;
	border-width: 1px; 
	cursor: none; 
	display:none;
	z-index:1;
}
.cPoint3 {
	position: relative;
	width: 15px;
	height:15px;
	border-radius:15px;
	border-color: white; 
	border:solid;
	border-width: 1px; 
	cursor: none; 
	display:none;
	z-index:1;
}

.big {
	postition: fixed;
	width: 850px;
	height:850px;
}
.medium {
	position: fixed;
	width: 700px;
	height: 700px;
}

.center { 
	margin-right: 58%;
	margin-left: auto;
	display: block;
	text-align: center;
}

.checkNumber { 
}

.correctForm {
	position: relative;
	top:-90px; 
}

.parentNumCheck {
	position: absolute;
	vertical-align:top;
}

.space {
	min-height: 460px;
}

.rankTop {
	position: fixed;
	top: 30%;
	left: 45%;
}
.rank2nd {
	position: fixed;
	top: 35%;
	left: 44%;
}
.rank3rd {
	position: fixed;
	top: 40%;
	left: 44%;
}

.scrollBox {
	position: fixed; 
	top: 300px; 
/*imac 620*/ 
	left: 620px;
	border: solid 1px;
	height: 200px;
	width: 150px;
	overflow: auto;
}
.searchScrollBox {
	position: fixed; 
	top: 300px;
/*imac 425*/ 
	left: 420px; 
	border: solid 1px;
	height: 200px;
	width: 150px;
	overflow: auto;
}

.unUsedNum {
	margin-top: 5px;
}

.displayGrades {
	position: fixed;
	top: 200px;
	left: 1150px;
	height: 400px;
	width: 300px;
	overflow: auto;
}

.prevPatient {
	position: fixed;
	top: 620px;
	left: 1120px;
}
.nextPatient {
	position: fixed;
	top: 620px;
	left: 1330px; 
}

.btnSpace {
	margin-left: 50px;
}

.splitPatient {

}

.farLeftFixed {
	position: fixed;
	top: 300px;
	left: -10px;
}

.HVFimage {
	width : 700px; 
	height : 575px;
	postion : fixed;
	float : left;
}

.numBox {
	width : 20px;
}

.questions {
	margin : 10px;
	float : left; 
	height : 550px;
	width: 500px;
	overflow: scroll;
}

.highlight {
	background:yellow;
}

.textMargin {
	margin-left: 19px;
}